
.mcont{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#leftside{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width: 50vw;
  background-color:rgb(23, 29, 31);


}

#rightside{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  width: 50vw;
  background-color:cyan;

}
#rightside form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: 700;


}
#rightside form input[type="email"],#rightside form input[type="password"],#rightside form input[type="text"],#rightside form input[type="date"]{
  height:3em;
  width:20em;
  border:1px solid black;
  padding: 5px 5px;
  margin:10px;
}
#rightside form input[type="submit"]{
  height:4em;
  width:18em;
  background-color: green;
  color: white;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 5px;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
  
}
footer{
  display:flex;
  align-items: center;
  background-color:black;
  height:10vh;
}
#rightside form input[type="submit"]:hover{
  background-color: rgb(65, 56, 56);
}
#rightside form a:hover{ 
 color: red;
}
#rightside form a{ 
  color:rgb(17, 124, 119)
 }

